:root {
  --main-green: #648463;
  --light-blue: #1a73e8;
  --dark-blue: #37639e;
  --grey: #f6f4f6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  background: var(--main-green);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar > ul {
  display: flex;
  justify-content: space-around;
}

.navbar > ul > li {
  color: white;
  list-style-type: none;
  font-size: 15px;
  padding: 5px 20px;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  width: 200px;
}

.navbar-button {
  border: 2px solid white;
  margin: 0px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.footer {
  background: var(--main-green);
  display: flex;
  justify-content: center;
  bottom: 0;
  flex-direction: column;
  padding-top: 20px;
}

.footer-heading {
  color: #6CCA69;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 35px;
}

.footer-label-and-link {
  display: flex;
  padding-top: 35px;
  min-width: 1000px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.footer-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo {
  color: #fff;
  font-family: Inter;
  font-size: 55.795px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-logo-and-links {
  display: flex;

}

.footer-company-logos{
  color: white;
  padding: 20px 0px;
}

.footer-company-single-logo{
  padding:0px 20px;
}

.footer-sub-heading {
  list-style-type: none;
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer-images{
  display: flex;
}

.single-image{
  margin-right: 8px;
}

.trademarks {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.copyrights {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 10px 0px;
  margin-left: auto;
  margin-right: auto;
}

.copyright-label {
  padding: 5px 16.89px 5px 9px;
}

.language-button {
  padding: 10px 15px;
  height: 40px;
  border-radius: 5px;
  background: #efefef;
  border: 1px solid #dbd9db;
}

.page,
.sign-up-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin: auto;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  width: 300px;
}

.heading {
  font-weight: bold;
  margin: 10px 0px;
  font-size: 24px;
}

.sign-up-link {
  color: var(--main-green);
  text-decoration: underline;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.input-top {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid var(--main-green);
  background: #fff;
  padding: 10px;
  border-bottom: none;
}

.input-bottom {
  border-radius: 0px 0px 5px 5px;
  border: 1px solid var(--main-green);
  background: #fff;
  padding: 10px;
}

.forgot-password-section {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px 0px;
}

.forgot-password-text {
  color: var(--main-green);
}

.button {
  padding: 15px 125px;
  border-radius: 5px;
  background-color: var(--main-green);
}

.button-text {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.legal-conditions {
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
}

.terms-of-service {
  text-decoration: underline;
}

.privacy-policy {
  text-decoration: underline;
}
